ion-header{
    position: absolute;
    background:url(/assets/imgs/shoes_shop.jpg);
    border-radius: 0px 0px 30px 30px;
    height: 15%;
}
h4{
    color: #3a3a3a;
}
ion-content{

    --ion-background-color:#f3edeb;
    position: absolute;
    color: #3a3a3a;
}
.body{
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    //--padding-top: 10px;
    top: +20%
}
ion-searchbar{
    --background:white;
    --border-radius: 25px;
    size: auto;
    color: #806251;
    padding: 0px;
    opacity: 90%;
}
ion-col{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
   
}
ion-button{
    --background: #806251;
    --overflow: visible!important;
}
.trans_btn{
    --background: none;
    color: black;
    --padding-start: 0!important;
    --padding-end:0!important;
    //position: absolute;
    margin-top: -5%;
}
ion-badge {
    --background: white;
    border: 1px;
    border-color: #3a3a3a;
    --color: black;
    border-radius: 10px;
    --padding-end: 4px;
    --padding-start: 4px;
    position: absolute; 
    font-size: 8pt;
    right: -24px;
    top: -8px;
    width: 24px;
  }
  ion-button.custom-class::part(native) {
    overflow: visible;
}
.check_mark{
    --background: #806251;
    border-radius: 10px;
    position: absolute; 
    font-size: 8pt;
    right: +5px;
    top: +5px;
    width: 20px;
    height: 20px;
}

ion-content > *{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin-bottom: 20px !important;
    border-radius: 20px;
}
.collor_options{
    background-color: #f3edeb;
    width: 40px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-size: 0.5rem;
    position: relative;
}
.size_options{
    background-color: #f3edeb;
    width: 40px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-size: 0.5rem;
    position: relative;
}
.hex2::before {
    content: "\2B22";
    display:block;
    font-size:35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.size_icon{
    background-color: white;
    display:block;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hex3::before {
    content: "\2B22";
    display:block;
    font-size:35px;
    position: absolute;
    top: 45%;
    left: 15px;
    transform: translate(-50%, -50%);
  }
.size_icon_2{
    background-color: white;
    display:block;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
}
.update_section{
    height: 80px;
}
.update_section >*{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_info{
    height: 120x;
    margin-bottom: 30px;
}
.main_info > *{ 
  margin: 5px;
}
.main_info:nth-child(1){
    position: relative;
    overflow: hidden;
}
.main_info:nth-child(1) >*{
max-width:100%;
max-height:100%
}
.name_row{
    //border: 1px solid black;
    height: 30px;
}
.name_row>*{
    margin-top: 1%;
}
.test{
    //border: 1px solid black;
    height:30px;
    text-align: right;
    position: relative;
    //overflow: hidden;
}
.test > p{
    position: absolute;
    right: 5%;
    bottom: -75%;
    transform: translate(0%, -50%);
    color: black;
}
.test_2{
    //border: 1px solid black;
    height: 40px;
    position:relative;
}
.edit_btn{
    --background:#806251;
}